body,
html {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-style: normal;
}

nav {
  height: 48px;
  max-height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.nav-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-wrapper {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  height: 100%;
}
.nav-menu {
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}
.menu {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.menu a {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.8;
  line-height: 3.66667;
  font-weight: 400;
  padding: 0 8px;
  letter-spacing: -0.01em;
}
.menu a:hover {
  opacity: 1;
}
.icon-img {
  margin: auto 0;
  display: block;
  width: 12px;
}
.search-icon {
  width: unset;
  height: 15px;
}

.mobile-nav-menu {
  display: none;
  height: 100%;
}

.mobile-menu {
  list-style: none;
}
.mobile-search {
  display: none;
}

@media screen and (max-width: 833px) {
  .mobile-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 40;
  }
  .mobile-hidden-menu {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    max-width: 664px;
    margin: 0 auto;
    padding: 0px 40px 8px;
    height: fit-content;
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .hamburger-div {
    padding-bottom: 6px;
    cursor: pointer;
  }
  .hamburger {
    display: block;
    background-color: #f5f5f7;
    height: 1px;
    width: 16px;
    margin-top: 6px;
    transition: all 0.3s ease;
  }
  .mobile-icon {
    width: 14px;
  }
  .mobile-search {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #424245;
  }
  .mobile-search-div {
    width: 100%;
    margin: 3px 10px 0 10px;
    max-width: 584px;
  }
  .mobile-search-input {
    height: 1.71419em;
    padding: 3px 5px 4px;
    position: relative;
    border: none;
    background-color: #1d1d1f;
    color: #6e6e73;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 17px;
  }
  .mobile-search-icon-div {
    width: 30px;
    margin: auto 0;
  }
  .mobile-search-div span {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: auto 0;
  }
  .mobile-search-icon {
    display: block;
    width: 100%;
    opacity: 0.8;
  }
  .mobile-nav-wrapper {
    height: 100vh;
    background: #000;
    width: 100vw;
    position: absolute;
    margin: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: scaleY(0);
    transform-origin: top;
  }
  .mobile-col-menu {
    width: 100%;
    justify-content: flex-start;
    border-top: 1px solid #424245;
  }
  .menu-store {
    border-top: none;
  }
  .menu {
    height: 44px;
  }
  .menu a {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  /* mobile animation */

  .hamburger-div.is-active .hamburger:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .hamburger-div.is-active .hamburger:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }

  .mobile-nav-wrapper.active {
    transform: none;
  }

  .nav-container {
    transition: all 0.3s ease;
    transform-origin: top;
  }
  .nav-container.open {
    background: #000;
  }
  #basket.open {
    opacity: 0;
  }
}

.hero-container {
  margin-top: 45px;
  height: fit-content;
}
.hero-wrapper {
  height: 100%;
}
.hero-container,
.hero-content,
.gift-content,
.watch-container,
.watch-content,
.watch-content,
.iphone14pro-container,
.iphone14pro-content,
.ipads-container,
.ipads-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content {
  text-align: center;
  color: #1d1d1f;
  padding-top: 47px;
  position: relative;
  z-index: 2;
}

.hero-content h2 {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 500;
  letter-spacing: -0.005em;
  margin: 0 auto;
}
.hero-content h3 {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  margin: 6px auto 0 auto;
  max-width: 540px;
}

.lp-btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.74em;
}
.hero-btns a,
.watch-btns a,
.iphone14pro-btns a,
.ipads-btns a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #2997ff;
  letter-spacing: inherit;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
}
.lp-btn-right {
  margin-left: 35px;
}
.lp-btn-right-grid {
  margin-left: 28px;
}

.hero-btns a,
.ipads-btns a {
  color: #06c;
}
.lp-btn:hover {
  text-decoration: underline;
}
.hero-btns a::after {
  content: ">";
  padding-left: 0.3em;
  font-family: "SF Pro Icons";
}

.hero-img-wrapper,
.gift-img-wrapper,
.watch-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-img-wrapper {
  height: 624px;
}

.hero-img-fig,
.gift-img-fig,
.watch-img-fig {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  bottom: 0px;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  pointer-events: none;
  z-index: 1;
}

.hero-img-fig {
  background-image: url(./images/hero.jpeg);
  background-position: center;
  left: calc(50% + 0px);
  right: auto;
  top: 0;
}

.gift-img-fig {
  background-image: url(./images/gift.jpeg);
  left: 50%;
  top: -45px;
  overflow-y: hidden;
}

.watch-img-fig {
  background-image: url(./images/watch.jpeg);
  left: 50%;
}

.hero,
.gift,
.watch {
  height: 579px;
  margin-bottom: 12px;
}

.gift-container {
  position: relative;
  height: 100%;
}
.gift-wrapper {
  height: 100%;
}
.gift-content {
  z-index: 2;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding-top: 47px;
  margin-top: 440x;
}
.gift-content h2 {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: #f5f5f7;
  margin: 9px auto 0 auto;
}
.gift-content h3 {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  color: #f5f5f7;
  margin-top: 9px;
  max-width: 540px;
  text-align: center;
  margin-bottom: 0;
}

.gift-link a::after,
.watch-btns a::after,
.iphone14pro-btns a::after,
.ipads-btns a::after {
  content: ">";
  padding-left: 0.3em;
}

.gift-link a {
  color: #2997ff;
  text-decoration: none;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
}

.watch-container {
  position: relative;
  height: 100%;
}
.watch-wrapper {
  height: 100%;
}
.watch-content h2 {
  margin: 8px auto 0 auto;
  width: 100%;
  background-image: url(./images/watch_logo.png);
  height: 72px;
  background-size: 190px 73px;
  background-repeat: no-repeat;
  background-position: center;
}
.watch-content h3 {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  margin: 11px auto 0 auto;
  color: #f5f5f5;
}

.watch-content {
  position: relative;
  z-index: 4;
  text-align: center;
  padding-top: 47px;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  margin: 12px;
}

.iphone14pro-container,
.ipads-container {
  height: 580px;
  justify-content: start;
  position: relative;
}

.iphone14pro-content h4,
.ipads-content h4 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f5f7;
  margin: 53px auto 0 auto;
}

.iphone14pro-content h5,
.ipads-content h5 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
  margin: 4px auto 0 auto;
  color: #f5f5f7;
}

.iphone14pro-btns a,
.ipads-btns a {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
}

.iphone14pro-content,
.ipads-content {
  position: relative;
  z-index: 4;
  text-align: center;
}

.iphone14pro-img-fig {
  background-image: url(./images/iphone14pro.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 0;
  margin: 0;
  padding: 0;
}
.iphone14pro-img-wrapper,
.ipads-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ipads-img-fig {
  background-image: url(./images/ipads.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 0;
  margin: 0;
  padding: 0;
}

.ipads-content h4,
.ipads-content h5 {
  color: #1d1d1f;
}

footer {
  padding-bottom: 20px;
  background-color: #f5f5f7;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.footer-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  height: 100%;
}

.footer-directory {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  justify-content: center;
  height: 100%;
}

.footer-col {
  flex-basis: 25%;
}

footer li {
  list-style: none;
  text-align: left;
  margin-bottom: 0.8em;
}
footer a {
  text-decoration: none;
  font-size: 12px;
  color: #424245;
}

.footer-title {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0.8em;
}

.footer-submenu {
  padding-left: 0;
}

.footer-dropdown-btn {
  display: none;
}

.footer-info {
  color: #6e6e73;
}

.stores {
  color: #06c;
}
.stores:hover {
  text-decoration: underline;
}
.terms a {
  color: #424245;
}

.footer-info {
  padding: 17px 0 6px;
  letter-spacing: normal;
}

.store-info {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
}

.store-info span {
  white-space: nowrap;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
}
.copyright-terms {
  display: flex;
}
.copyright,
.terms {
  margin-right: 30px;
  margin-top: 5px;
}
.country {
  margin-top: 5px;
}
.country:hover,
.terms a:hover {
  text-decoration: underline;
}
.terms a {
  display: inline-block;
  margin-right: 7px;
  padding-right: 10px;
  border-right: 1px solid #d2d2d7;
  margin-top: 5px;
}

#last-terms {
  border: none;
}

@media screen and (max-width: 833px) {
  .footer-directory {
    flex-direction: column;
  }

  footer {
    height: unset;
  }

  .footer-submenu {
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }
  .footer-submenu li,
  .footer-submenu {
    box-sizing: border-box;
  }
  .footer-submenu li a {
    padding: 6px 14px;
    color: #424245;
  }
  .footer-submenu li:hover {
    text-decoration: underline;
  }
  .footer-title {
    color: #6e6e73;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .footer-title:hover {
    color: #000;
  }
  .footer-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .footer-list {
    border-bottom: 1px solid #d2d2d7;
  }
  .footer-dropdown-btn {
    display: block;
    font-size: 14px;
    padding-right: 8px;
    transition: all 0.3s ease;
  }

  /* footer animation */
  .footer-submenu.is-active {
    transform: scaleY(1);
  }
  .footer-dropdown-btn.active {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .footer-bottom-row {
    flex-direction: column-reverse;
  }

  .copyright-terms {
    padding-top: 12px;
  }
  .store-info {
    border-bottom: none;
  }
}
@media screen and (max-width: 877px) {
  .copyright-terms {
    flex-direction: column;
  }
}

@media screen and (max-width: 1068px) {
  .watch-content {
    padding-top: 53px;
  }
  .hero-content h2,
  .gift-content h2 {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 500;
    letter-spacing: -0.002em;
  }
  .hero-content h3,
  .gift-content h3,
  .watch-content h3 {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: 0.009em;
  }
  .watch-content h3 {
    margin-top: 13px;
  }
  .gift-content h3 {
    margin-top: 10px;
  }
  .gift-content {
    padding-top: 53px;
  }
  .watch-content h2 {
    height: 62px;
    background-size: 160px 61px;
  }
  .hero-btns a,
  .lp-btn,
  .gift-link a,
  .watch-btns a {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
  }
  .hero,
  .gift,
  .watch {
    height: 569px;
    margin-bottom: 12px;
  }

  .hero-img-fig {
    background-image: url(./images/hero-m.jpeg);
    width: 1068px;
    height: 617px;
  }
  .gift-img-fig {
    background-image: url(./images/gift-m.jpeg);
  }
  .watch-img-fig {
    background-image: url(./images/watch-m.jpeg);
  }

  .hero-img-fig,
  .gift-img-fig,
  .watch-img-fig {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
  }

  .iphone14pro-content h4,
  .ipads-content h4 {
    margin-top: 42px;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: 0.002em;
  }

  .iphone14pro-content h5,
  .ipads-content h5 {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
  }
  .iphone14pro-container,
  .ipads-container {
    height: 490px;
  }
  .iphone14pro-img-fig,
  .ipads-img-fig {
    background-image: url(./images/iphone14pro-m.jpeg);
    background-size: 516px 490px;
    width: 516px;
    height: 490px;
  }

  .ipads-img-fig {
    background-image: url(./images/ipads-m.jpeg);
  }
}

@media screen and (max-width: 734px) {
  .hero,
  .gift,
  .watch {
    height: 503px;
  }
  .grid-section {
    grid-template-columns: repeat(1, 1fr);
    margin: 12px 0;
  }

  .hero-content,
  .gift-content,
  .watch-content {
    padding-top: 37px;
  }

  .hero-content h2,
  .gift-content h2 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
  }

  .hero-content h3,
  .gift-content h3,
  .watch-content h3 {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
  }

  .gift-content h3 {
    max-width: 240px;
  }

  .hero-btns a,
  .lp-btn,
  .gift-link a,
  .watch-btns a {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  .iphone14pro-img-fig,
  .ipads-img-fig {
    background-image: url(./images/iphone14pro-s.jpeg);
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
  }

  .ipads-img-fig {
    background-image: url(./images/ipads-s.jpeg);
  }

  .hero-img-fig,
  .gift-img-fig,
  .watch-img-fig {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
  }

  .hero-img-fig {
    background-image: url(./images/hero-s.jpeg);
  }

  .gift-img-fig {
    background-image: url(./images/gift-s.jpeg);
  }

  .watch-img-fig {
    background-image: url(./images/watch-s.jpeg);
  }

  .watch-content h2 {
    width: 109px;
    height: 42px;
    background-size: 109px 42px;
  }
}
